:root {
    --main-bg-color: #ffffff;
    --primary-color: #333333;
    --secondary-color: #4CAF50;
    --accent-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 20px;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent-color);
}

main {
    background-color: var(--main-bg-color);
    padding: 20px 0;
}

h2 {
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

h3 {
    color: var(--primary-color);
}

.date {
    font-style: italic;
    color: gray;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;

}

.about-section .avatar {
    border-radius: 50%;
    width: 150px;
    height:150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.about-section blockquote {
    font-style: italic;
    color: #777;
    margin-top: 20px;
}

.skills-list {
    list-style-type: none;
    columns: 2;
    column-gap: 40px;
}

.contact-section {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin: 10px 0;
}

.contact-info img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-container-edu {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.article-certification {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #FFD700;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgb(255, 173, 73); */
}

article {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #FFD700;
    text-decoration: underline;
    font-weight: bold;
}

footer a:hover {
    color: #DAA520;
    text-decoration: underline;
}