:root {
    --main-bg-color: #ffffff;
    --primary-color: #333333;
    --secondary-color: #4CAF50;
    --accent-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 20px;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent-color);
}

main {
    background-color: var(--main-bg-color);
    padding: 20px 0;
}

h2 {
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

h3 {
    color: var(--primary-color);
}

.date {
    font-style: italic;
    color: gray;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section .avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.about-section blockquote {
    font-style: italic;
    color: #777;
    margin-top: 20px;
}

.skills-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-category {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-category h3 {
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
}

.skill-category ul li {
    margin: 10px 0;
    position: relative;
}

.skill-category ul li span {
    font-weight: bold;
}

.skill-bar {
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.contact-section {
    background-color: #f1f1f1; /* Light gray background color for the section */
    padding: 40px 20px; /* Padding inside the section (top/bottom: 40px, left/right: 20px) */
    border-radius: 10px; /* Rounded corners with a radius of 10px */
    text-align: center; /* Center-align text within the section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow around the section for depth */
}

.contact-info {
    display: flex; /* Use flexbox for layout */
    justify-content: 20px 0 left; /* Distribute space around the columns */
}

.column {
    flex: 1; /* Each column takes up equal space */    
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the start (left) */
}

.contact-info p {
    display: flex; /* Use Flexbox for layout within each paragraph */
    align-items: center; /* Center-align items vertically within each paragraph */
    margin: 10px 0; /* Margin of 10px on top and bottom & 25px on left and right.*/
}

.contact-info img {
    width: 20px; /* Set width of images to 20px */
    height: 20px; /* Set height of images to 20px */
    vertical-align: middle; /* Align the middle of the image with the middle of the text */
    margin-right: 10px; /* Margin of 10px to the right of the image */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-container-edu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.article-certification {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #FFD700;
    border-radius: 5px;
}

article {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #FFD700;
    text-decoration: underline;
    font-weight: bold;
}

footer a:hover {
    color: #DAA520;
    text-decoration: underline;
}

.grid-container-edu {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Adjust to fit the size of the Credly boxes */
    gap: 20px; /* Add spacing between the certifications */
    justify-content: center; /* Center the content */
    align-items: center; /* Vertically center-align content */
    margin-bottom: 20px;
}

.grid-container-edu div {
    text-align: center; /* Center-align the text */
}

@media (max-width: 768px) {
    .grid-container-edu {
        grid-template-columns: 1fr; /* Stack certifications vertically on smaller screens */
    }
}
